<div class="wrapper">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <h1>Muda0</h1>
  <%= form_with url: want_url(@wants), model: @wants do |form| %>
    <select name="want[category_id]" >
        <% @categories.each do |category| %>
            <option value= <%= category.id %> ><%= category.name %></option>
        <% end %>
      </select>
    <%= form.file_field :image %>
    <div><%= form.label :商品名 %> <%= form.text_field :name %></div>
    <div><%= form.label :金額 %> <%= form.text_field :money %></div>
    <div><%= form.submit "変更する" %></div>
  <% end %>

</div>

<footer class="mobile_only">
  <div class="menu-container">
    <div>
      <%= link_to(wants_path) do %>
        <%= image_tag 'home.png', class: 'icon' %><br><small>ホーム</small>
      <% end %>
    </div>
    <div>
      <%= link_to(wants_new_path) do %>
        <%= image_tag 'add.png', class: 'icon' %><br><small>登録</small>
      <% end %>
    </div>
    <div class="red">合計:<%= number_to_currency(@sum, unit: "¥", precision: 0) %></div>
  </div>
</footer>
