<head>
 <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
</head>

<header>
  <%= link_to(wants_path) do %>
    <div><h1><span class="logo-jp">むだゼロ</span><br>muda0</h1></div>
  <% end %>
  <div class="flex_menu">
    <div class="layer pc-only">
      <%= link_to(messages_path) do %>
        <%= image_tag 'mailicon.png' %>
        <% @messages.each do |message|%>
          <% if message.current_user_clicked(current_user).nil? %>
            <p>●</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div><%= link_to "欲しいものを登録", wants_new_path, class: "new_button" %></div>
    <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  </div>
</header>

<div class="total_box">
  <div>
    <%= image_tag 'top.png', class: 'top_img' %>
  </div>
  <p class="total">只今の合計金額<br>
  <span><%= number_to_currency(@sum) %></span><br>
  <small>１か月後もその商品が欲しいか、定期的に確認してみよう！</small></p>
</div>

  <div class="wrapper center">
    <h2>欲しいものリスト</h2>
    <form action="" method="get">
        <select name="category" >
            <option value= "">全ての商品</option>
            <% @categories.each do |category| %>
                <option value= <%= category.id %> ><%= category.name %></option>
            <% end %>
        </select>
        <select name="順番" >
          <option value= "新しい">新しい順</option>
          <option value= "古い">古い順</option>
        </select>
        <input type="submit" value="検索">
    </form>

    <div class="container">
        <% @wants.each do |want| %>
          <%= link_to(want) do%>
            <div class="box">
              <div class="back_img img_box">
                <%= image_tag want.image.variant(resize_to_limit: [200, 200])%>
                <p class="under_text">¥<%= want.money %></p>
              </div>
              <div class="under">
                <%= want.name %>
                <small><%= want.category.name %></small><br>
                <small><%= want.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
              </div>
            </div>
        <% end %>

      <% end %>
    </div>

  </div>

<footer class="mobile_only">
  <div class="menu-container">
    <div>
      <%= link_to(wants_path) do %>
        <%= image_tag 'home.png', class: 'icon' %><br>
      <% end %>
    </div>
    <div>
      <%= link_to(wants_new_path) do %>
        <%= image_tag 'add.png', class: 'icon' %><br>
      <% end %>
    </div>
    <div class="layer">
      <%= link_to(messages_path) do %>
        <%= image_tag 'mail.png', class: "mb_mail_icon"%>
        <% @messages.each do |message|%>
          <% if message.current_user_clicked(current_user).nil? %>
            <p class="p">●</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="red">合計:<%= number_to_currency(@sum) %></div>
  </div>
</footer>
