<head>
 <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
</head>

<header>
  <div><h1><span class="logo-jp">むだゼロ</span><br>muda0</h1></div>
  <div>
    <%= link_to "欲しいものを登録", wants_new_path, class: "new_button" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</header>

<div class="total_box">
  <div>
    <%= image_tag 'top_img.png', class: 'top_img' %>
  </div>
  <p>欲しいものを登録しよう！</p>
</div>

<div class="wrapper">
  <div class="form-box">
    <%= form_with url: wants_path, model: @wants do |form| %>
    <select name="category" >
        <% @categories.each do |category| %> 
            <option value= <%= category.id %> ><%= category.name %></option>
        <% end %>
    </select>

      <%= form.file_field :image %>
      
      <div><%= form.label :商品名 %> <%= form.text_field :name %></div>
      <div><%= form.label :金額 %> <%= form.text_field :money %></div>
      <div><%= form.submit "新規登録", class: 'submit-button' %></div>
    <% end %>
  </div>
</div>

<footer class="mobile_only">
  <div class="menu-container">
    <div>
      <%= link_to(wants_path) do %>
        <%= image_tag 'home.png', class: 'icon' %><br>ホーム
      <% end %>
    </div>
    <div>
      <%= link_to(wants_new_path) do %>
        <%= image_tag 'add.png', class: 'icon' %><br>登録
      <% end %>
    </div>
    <div class="red">合計:<%= number_to_currency(@sum, unit: "¥", precision: 0) %></div>
  </div>
</footer>