<head>
 <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
</head>

<header>
  <div><h1><span class="logo-jp">むだゼロ</span><br>muda0</h1></div>
  <div class="flex_menu">
    <div class="layer pc-only">
      <%= link_to(messages_path) do %>
        <%= image_tag 'mailicon.png' %>
        <% @messages.each do |message|%>
          <% if message.current_user_clicked(current_user).nil? %>
            <p>●</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div><%= link_to "欲しいものを登録", wants_new_path, class: "new_button" %></div>
    <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  </div>
</header>

<div class="total_box">
  <div>
    <%= image_tag 'top_img.png', class: 'top_img' %>
  </div>
  <p>欲しいものを登録しよう！</p>
</div>

<div class="wrapper">
  <div class="form-box">
    <%= form_with url: wants_path do |form| %>
    <select name="category" >
        <% @categories.each do |category| %> 
            <option value= <%= category.id %> ><%= category.name %></option>
        <% end %>
    </select>

      <%= form.file_field :image, required: true %>
      
      <div><%= form.label :商品名 %> <%= form.text_field :name, required: true %></div>
      <div><%= form.label :金額 %> <%= form.text_field :money, required: true, pattern: "^[0-9]+$" %></div>
      <div><%= form.submit "新規登録", class: 'submit-button' %></div>
    <% end %>
  </div>
</div>

<footer class="mobile_only">
  <div class="menu-container">
    <div>
      <%= link_to(wants_path) do %>
        <%= image_tag 'home.png', class: 'icon' %><br>
      <% end %>
    </div>
    <div>
      <%= link_to(wants_new_path) do %>
        <%= image_tag 'add.png', class: 'icon' %><br>
      <% end %>
    </div>
    <div class="layer">
      <%= link_to(messages_path) do %>
        <%= image_tag 'mail.png', class: "mb_mail_icon"%>
        <% @messages.each do |message|%>
          <% if message.current_user_clicked(current_user).nil? %>
            <p class="p">●</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="red">合計:<%= number_to_currency(@sum) %></div>
  </div>
</footer>