<div class="wrapper">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <h1>Muda0</h1>
  <ul>
      <li>
        <%= image_tag @wants.image.variant(resize_to_limit: [500, 500])%>
        <h2><%= @wants.name %></h2>
        <p>¥<%= @wants.money %><p>
      </li>
  </ul>

  <%= form_with url: want_url(@wants), method: :patch do |form| %>
    <%= form.button "削除", formmethod: :delete, deta: { confirm: "Are you sure?" }  %>
    <%= link_to "編集", edit_want_url(@wants) %>
  <% end %>

</div>
