<head>
 <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
</head>

<div class="top-page">
  <div class="wrapper top-box">
    <h1><span>むだゼロ</span><br>muda0</h1>
  </div>
</div>

<div class="devise-box">
  <h2><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-box" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "pass-box" %>
    </div>
    <div class="forget-text">
      <%= link_to "パスワードを忘れた場合", new_user_password_path %>
    </div>


    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: "login-button"%>
    </div>
  <% end %>

  <%= link_to(new_user_registration_path) do %>
    <button class="signup-btn">アカウント登録</button>
  <% end %>

</div>
